body{
    background-image: url("https://images.unsplash.com/photo-1600628421066-f6bda6a7b976?ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTB8fGZvb2QlMjBmcmllbmRzfGVufDB8fDB8fA%3D%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=800&q=60");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-color:rgba(94, 97, 93, 0.9);
    height: 100vh;
}

#container {
    background-color:rgba(94, 97, 93, 0.9);
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 900px;
    height: 1125px;
    border-radius: 40px;
    color: white;
    position: absolute;
}

form{
    position: relative;
    display: flex;
    flex-direction: column;
    font-family: 'Montserrat', sans-serif;
    margin: 20px;
    padding: 20px;
}

h1{
    font-family: 'Montserrat', sans-serif;
    color: #F7DBF0;
    align-self: center;
    font-size: 30px;
}

p, input, select, button, span{
    font-size: 20px;
}

input{
    font-family: 'Montserrat', sans-serif;
    padding: 5px;

}

#addTip {
    background-color:#78DEC7;
    border: none;
    border-radius: 10px;
    padding: 5px;
    font-family: 'Montserrat', sans-serif;
    
}

#btn {
    background-color: #F7DBF0;
    padding: 10px;
    border-radius: 10px;
    border: none;
    margin-top: 10px;
    font-family: 'Montserrat', sans-serif;
}

#tip{
    font-family: 'Montserrat', sans-serif;
    display: none;
}

#showTotalAmount{
    display: flex;
}

#totalTip, #billSplit, #totalAmount{
    font-family: 'Montserrat', sans-serif;
    background-color: rgba(147,198,142,0.9);
    margin: 20px;
    padding: 20px;
    border-radius: 10px;
    border: 1px solid black;
}

@media all and (max-width:800px){
  
  
  h1{
    font-size:20px;
    align-self:flex-start;
    margin-left:20%;
  }
  
  p, input, select, button, span{
    font-size: 18px;
}
  
  button{
  width:50%
  }
  
  #showTotalAmount{
    width:20%;
  
}

@media all and (max-width:500px){

    h1{
    font-size:15px;
    margin-left:10%;
  }
  
  p, input, select, button, span{
    font-size: 14px;
}
  
  button{
  width:20%;
  }
  
  
#totalTip, #billSplit, #totalAmount{
    font-family: 'Montserrat', sans-serif;
    background-color: rgba(147,198,142,0.9);
    margin: 10px;
    padding: 10px;
    border-radius: 10px;
    border: 1px solid black;
}
  #showTotalAmount{
    width:30%;
  
}
  
}